/*General a lo particular*/
*{
    margin:0;
   padding:0;
}
header,main, figure,nav,section,article,footer{
    display:block;
}
/*Tipografias*/
@font-face{
    font-family:"OpenSans";
    src:url("../fonts/OpenSans-Regular.ttf");
}
/*Contenedores*/
/*Maquetado para Escritorio 1024px*/
body{
  margin:0 auto;  
  font-family: "OpenSans"
}

header{

}
    .menu{
        width:100%;
        height:75px;
        background-color:#fff;
        padding:20px 20px 20px 20px;
        margin:0;
        border-bottom: none;
    }
        .logo{
            width: 34%;
    height: 75px;
    /* background-color: #fff; */
    padding: 0;
    margin: 0;
    /* float: left; */
        }
            
            .vanplastic{
                  width: 256px;
    height: 64px;
    /* background-color: #fff; */
    padding: 0;
    margin: 0;
       
    
            }
          
            .container > .navbar-header{
                margin-top: -1em;
                   
            }

            /*Para movil el logotipo no respeta el responsive*/
        .redes{
            width:66%;
            height:75px;
            background-color:#fff;
            padding:0;
            margin:0;
            float:left;
        }
        .carousel-inner > .item > img{
            margin: 0 auto;
            width: 100%
        }

        .carousel-indicators {
    bottom: -9px;
}
        .carousel-caption {
    right: 0%;
    left: 59%;
    padding-bottom: 2em;

    /* color: white; */
    /* background-color: gray; */
}
.carousel-caption a:hover{
padding: 1.2em 2.2em;
box-shadow: 4px 4px 5px #043440;
font-weight: bold;
}
.carousel-caption a{
    background-color: rgba(235, 235, 235, 0.5);
    color: #006680;
    text-shadow: none;
    padding: 1em 2em;
    font-size: 2rem;

}
.carousel-caption a:hover{
    text-decoration: none;
}
            .face, .faqs{
                padding: 0px!important;
            }
            .faqs i{
                    color: #006680;
    font-size: 23px;
            }

            .face img{
                width:24px;
                height:24px;
                padding:0;
               
            
            }
            .preguntas{
                width:24px;
                height:24px;
                padding:0;
                margin:30px 0px;
                font-size:16pt;
                text-decoration:none;
                color:#00657f;	
            }
            .navbar-nav > li {
    color: #006680;
    padding-right: 2em;
    }
    .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 15px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.carousel-caption2 {
    right: auto;
    left: auto;
    padding-bottom: 7em;
    padding-left: 3em;
    /* color: white; */
    /* background-color: gray; */
}
            .carousel-caption2 a:hover {
    padding: 1em 2em;
    box-shadow: 4px 4px 5px #043440;
    font-weight: bold;
    color: white;
}

.carousel-caption3 {
        right: 0%;
    left: 49%;
    padding-bottom: 2em;
        padding-bottom: 9em;
        margin-right: -2em;
}
            .carousel-caption3 a:hover {
       padding: 1em 2em;
    box-shadow: 4px 4px 5px #043440;
    font-weight: bold;
    color: #006680;
}
.dropdown-menu {
    /* color: white; */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 186px;
    padding: 12px 13px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu li{
        padding-top: 10px;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    padding-top: 0px;
}

.dropdown-menu{
    left: .01em!important
}

/*efecto hover*/
.frame {
        height: 250px;
    width: 328px;
    overflow: hidden;
}
.zoomin img {
         height: 250px;
    width: 328px;
  -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
          transition: all 2s ease;
}
.zoomin img:hover {

  height: 270px;
    width: 348px;
    margin-left: -10px;
}

/*hola*/
0% {
    opacity: 1;
    transform: translateX(0);
}
100% {
    opacity: 0;
    transform: translateX(100%);
}
.et_pb_scroll_top.et-visible {
    opacity: 1;
    -webkit-animation: fadeInRight 1s 1 cubic-bezier(0.77,0,.175,1);
    -moz-animation: fadeInRight 1s 1 cubic-bezier(0.77,0,.175,1);
    -o-animation: fadeInRight 1s 1 cubic-bezier(0.77,0,.175,1);
    animation: fadeInRight 1s 1 cubic-bezier(0.77,0,.175,1);
}

.et_pb_scroll_top.et-hidden {
    opacity: 0;
    -webkit-animation: fadeOutRight 1s 1 cubic-bezier(0.77,0,.175,1);
    -moz-animation: fadeOutRight 1s 1 cubic-bezier(0.77,0,.175,1);
    -o-animation: fadeOutRight 1s 1 cubic-bezier(0.77,0,.175,1);
    animation: fadeOutRight 1s 1 cubic-bezier(0.77,0,.175,1);
}
.et_pb_scroll_top {
       text-align: center;
    background: rgba(0,0,0,0.4);
    text-decoration: none;
    position: fixed;
    bottom: 95px;
    right: 0px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
    color: #fff;
    top: auto;
    height: 66px;
}
.et-pb-icon {
      speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.9;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.et-hidden{
    display: none;
}
.et-visible{
    display: block;
}

.row {
    margin-right: 0;
    margin-left: 0;
}
/*fin*/

.linban{
       margin-bottom: 2em;
    margin-top: 1em;
}
.facemenu {
        margin-top: 10px;
}
   
    .main2{
        margin-top: 1em;
    }

    .uno{
        width:100%;
        height:500px;    
    }
    .main{
            margin-top: 6em;
    }

    .industrial{

    }
        .iconindustrial{
           
            background-color:#d5d2df;
            padding:0;
            margin:0 0 10px;
            float:left;
        }

        .unoindustrial{
             background-color: #d5d2df;
    padding: 0;
    margin: 0 0 10px;
    width: 100%;
        }

        .teaserindustrial{
          
            background-color:#ff6666;
            padding:0;
            margin:0 0 10px;
            float:left;
        }
        .inconfundibles{
         
            background-color:#ff6666;
            padding:0;
            margin:0 0 10px;
            float:left;
        }

    .hogar{

    }
    .pedidosbanner img{
        width: 100%;
        margin-bottom: 2em;
        margin-top: 2em
    }
        .teaserhogar{
           
            background-color:#ff8888;
            padding:0;
            margin:0 0 10px;
            float:left;
        }

        .colores{
               background-color: #ff6666;
    padding: 0;
    margin: 0 0 10px;
    width: 100%;
        }
        .iconhogar{
        
            background-color:#d5d2df;
            padding:0;
            margin:0 0 10px;
            float:left;
        }

        .doshogar{
            width:100%;
            height:200px; 
            padding:0;
            margin:0 0 10px; 
        }

    .maquila{
        
    }
        .iconmaquila{
          
            background-color:#d5d2df;
            padding:0;
            margin:0 0 10px;
            float:left;
        }

        .unomaquila{
           width: 100%;
        }
        .teasermaquila{
         
            background-color:#ff6666;
            padding:0;
            margin:0 0 10px;
            float:left;
        }
        .lineasproductos{
            background-color: #ebebeb
        } 

        /*hover menu*/
        .navbar-default .navbar-nav > li > a:hover{
            color:#93d600;
        }
        .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:visited {
    color: #555;
    background-color: rgba(96, 208, 225, 0.07);
}
/*Footer*/
footer{
  width: auto; 
    height: 90px;
    background-color: #00657f;
    padding: 0;
    margin: 0;
  
}
    .logofooter{
        width:auto;
        height:44px;
        padding:0;
        margin:0;
        float:left;
    }

    .logoblanco{
        width:auto;
        height:70px;
        padding:0px;
        margin:10px;
        float:left;
    }

    .contacto{
        font: "OpenSans-Regular";
		font-size:8pt;
		text-align:right;	
        color:#fff;
        margin: 20px 0px 0px 0px;
    }


/*Contenido*/
.clientesuno{
    font:OpenSans-Bold;
    font-size:30pt;
    text-align:left;
    color:#00657d;
}
.redesmovil{
    display:none;
}
/*bbootstrap*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

/*estilos hogar */





/*Menu*/

/*NOTAS EXTRASMedia Queries Responsive
320px (Custom Iphone Retina)
480px (Small Devices, Phones)
768px (Small Devices, Tablets)
992px (Medium Devices, Desktops)
1200px (Large Devices, Wide Screens) */


/*media queries*/

@media (max-width: 995px) and (min-width: 763px) {
.navbar-nav > li {
        padding-right: 1em;
}

}

@media (max-width: 763px){
    .face img {
   
    margin-top: -1em;
}
    .redesmovil{
        display: inline-block;
   
    width: 100px;
    text-align: center;
    margin-top: 1em;
        margin-left: 7em;
    }
    .navbar-nav {
    margin: 7.5px -15px;
    background-color: #ebebeb;
    padding: 1em;
}
.navbar-nav > li {
    color: #006680;
    padding-right: 3em;
    padding-bottom: 1em;
    text-align: center;
    border-bottom: #ceced0 1px solid;
    padding-top: 1em;
}
.facemenu{
    display: none!important;
}
}

@media (max-width: 580px){
.redesmovil {
    
    margin-left: 2em;
}

}

@media (max-width: 516px){
.redesmovil {
    
    margin-left: 2em;
}
.menu {
    width: 100%;
    height: 123px;
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    margin: 0;
    border-bottom: none;
}
.container > .navbar-header {
  
    text-align: center;
}

}